<!Doctype HTML>
<html>
<h1>Buster's Best Bowling Alley</h1>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<p>97 Bowling Alley Lane, Boulder CO</p>
  <h1>Hours of Operation</h1> 
<ul>
  <li>Monday-Friday 8:00 AM to 10:00 PM</li>
  <li>Saturday 12:00 PM to 8:00PM</li>
  <li>Sunday Closed</li>
</ul>
<h1>Tournaments</h1>
<ol>
  <li>August 4</li>
  <li>August 15</li>
  <li>August 23</li>
  <li>August 30</li>
</ol>
<h1>Bar Menus</h1>
<ul>
  <li>Breakfast</li>
  <li>Lunch</li>
  <li>Dinner</li>
  <li>Snacks</li>
  <li>Drinks</li>
</ul>
</html>